#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: black;
}

form{
  color: white;
}
h1{
  color: white;
}
span{
  color: red;
}
.table tbody tr td, .table thead tr th{
  background-color: black;
  color: white;
  border: 1px solid white;
}
.form-control, .form-control:focus{
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.form-control::placeholder{
  color: white;
}
.list-group, .card-body .address{
  text-align: left;
}
.card img{
  height: 250px;
}
.address{
  padding-bottom: 0;
}
.action{
  padding-top: 0;
}
.btn{
  padding: 10px 25px;
}